

/*text {
	font-family: 'WenQuanYi Micro Hei' !important;
}

text[class*="axis"] {
	font-family: 'WenQuanYi Micro Hei Mono' !important;
	letter-spacing: -.1ex;
}*/

div#wrapper {
	transform: scale(1.023018) translateX(10px) translateY(15px);
}