

text {
	font-family: 'WenQuanYi Micro Hei' !important;
}

text[class*="axis"] {
	font-family: 'WenQuanYi Micro Hei Mono' !important;
	letter-spacing: -.1ex;
}

div#wrapper {
	transform: translateX(10px) translateY(-45px); // scale(1.023018)
}

div#overlay, div#summary-next-days {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #aaa;
}

div#overlay {
	background-color: #eee;

	h1 {
		font-size: 18px;
		margin: 5px .5ex;
		font-weight: 100;
	}

	span.lat-lon {
		font-family: 'WenQuanYi Micro Hei Mono';
		font-size: 12px;
		font-weight: 900;
		letter-spacing: -.125ex;
		margin-left: 1em;

		+span {
			margin-left: .5ex;
		}
	}
}

div#summary-next-days {
	top: 345px;
	border-top: 1px solid #aaa;
	border-bottom: none;
	

	span.symbol {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-size: contain;
		position: absolute;
		top: -4px;
		left: 4px;

		/* icons from <a href="https://www.flaticon.com/free-icons/meter" title="meter icons">Meter icons created by Freepik - Flaticon</a> */
		&.day {
			background-image: url('/web/assets/event.png');
		}
		&.day-and-night {
			background-image: url('/web/assets/day-and-night.png');
		}
		&.weather-station {
			background-image: url('/web/assets/weather-station.png');
		}
		&.summary {
			background-image: url('/web/assets/summary.png');
		}
		&.precipitation {
			background-image: url('/web/assets/umbrella.png');
		}
		&.wind {
			background-image: url('/web/assets/wind-direction.png');
		}
		&.humidity {
			background-image: url('/web/assets/humidity.png');
		}
		&.pressure {
			background-image: url('/web/assets/pressure.png');
		}
	}


	table {
		font-size: 14px;
		border-collapse: collapse;
		width: 100%;

		div.one-line {
			font-size: 11px;
			overflow: hidden;
			text-overflow: clip;
			white-space: nowrap;
		}

		th, td {
			margin: 0;
			padding: 0;
		}

		td.day {
			padding-left: 12px;
		}

		td.fr {
			line-height: 20px;
			font-size: 12px;
			font-weight: 900;
		}

		td.grey {
			background-color: #eee;
		}

		tr {
			&:first-child {
				th:not(:first-child), td {
					//border-top: 1px solid #aaa;
				}
			}
			&:nth-child(even) {
				span.symbol {
					left: 28px;
				}
			}

			th {
				text-align: left;
				&:first-child {
					position: relative;
					width: 48px;

					+th {
						font-size: 11px;
						font-weight: 100;
						padding-left: 1em;
						padding-right: .5ex;
					}
				}
			}
		}

		code {
			font-family: 'WenQuanYi Micro Hei Mono';
			font-size: 12px !important;
			font-weight: 900;
			letter-spacing: -.1ex;
			margin-right: .25ex;

			+span {
				font-size: 11px;
			}
		}

		div.day-night-temps {

			display: grid;
			grid-template-columns: 44px 1fr;
			grid-column-gap: 0;
			grid-row-gap: 0;
			justify-items: stretch;
			align-items: stretch;
			background-color: #fff;

			p {
				margin: 0;
				line-height: 18px;
			}

			span.img {
				width: 40px;
				height: 32px;
				display: inline-block;
				overflow: hidden;
				img {
					max-width: 40px;
					max-height: 40px;
					transform: scale(1.375) translateY(-2px);

					--stroke-pos: 0.5px;
					--stroke-neg: -0.5px;
					--stroke-color: rgba(0, 0, 0, 0.5);
					filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) 
					drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
					drop-shadow(var(--stroke-neg) 0 0 var(--stroke-color)) 
					drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color));
				}
			}
		}
	}
}